@font-face {
    font-family: alone;
    src: local('alone'),
        url('/static/fonts/alone.otf') format('opentype');
}

body {
    font-size: 18px;
    font-family: alone;
}

.items:hover {
    box-shadow: 2px 2px 2px 2px gold;
    border-color: red;
    border-width: 3px;
    border-right-width: 5px;
    cursor: pointer;
}

.items {
    margin: 3px;
    padding: 1px;
    border-radius: 5px;
    width: 150px;
    min-width: 150px;
    min-height: 190px;
    height: 190px;
    border: 1px solid lightcoral;
    font-size: 15px;
    text-align: center;

}